<!DOCTYPE html>
<html>
<head>
	<title>Reports</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
</head>
<body>
<table id="report_table" class="display nowrap">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Customer Branch</th>
            <th>Assigned Executive</th>
            <th>Visit Date</th>
            <th>Status</th>
            <th>Document Submitted</th>
        </tr>
    </thead>
    <tbody>
        {% for i in report_data %}
        <tr>
            <td>{{i.customer_name}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.assigned_cse}}</td>
            <td>{{i.visit_date}}</td>
            <td>{{i.status}}</td>
            <td>{{i.is_submitted}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#report_table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy','csv'
            ]
        });
    } );
</script>